*
*/tmp/
*/.SCRAM/

!HeavyIonsAnalysis/
!HeavyIonsAnalysis/**
!.gitignore

*.pyc
*__init__.py
*__init__.pyc
*.requestcache
*crab.log
*.tgz

HeavyIonsAnalysis/*/python/*.pyc
HeavyIonsAnalysis/*/python/*/*.pyc
HeavyIonsAnalysis/PhotonAnalysis/test/crab.log
HeavyIonsAnalysis/PhotonAnalysis/test/crab_projects/*

*.root
